[backend]
# [ollama]
provider = "ollama"
url = "http://localhost:11434/api/chat"

# Authentication options
# Leave commented for no auth

# [backend.auth]
# type = "token",
# token = ""

[llm]
model = "llama3.2"

[nelson]
# ["cmd", "neat", "long", "code"]
default_mode = "cmd"

